* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Main__styling {
  position: relative;
  width: 400px;
  margin: 10px auto;
  border: 3px black solid;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 0.2fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "profile name"
    "profile details";
}

.Main__profile {
  padding: 0px;
  margin: 35px 20px 0px 50px;
  grid-area: profile;
  height: 9rem;
  border-radius: 50%;
  border: 2px white solid;
}

.Main__name {
  color: white;
  display: flex;
  flex-direction: column;
  grid-area: name;
  padding: 0;
  margin: 10px;
}

.main__details {
  color: white;
  display: flex;
  grid-area: details;
  padding: 0;
  margin: 10px;
}

.red {
  background-color: #b8433a;
}

.yellow {
  background-color: #f0c75e;
}

.blue {
  background-color: #0e1a40;
}

.green {
  background-color: #1a472a;
}

.Main__button {
  margin: 0 auto;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px;
  font-size: 10px;
  height: 25px;
  width: 100px;
}

.Main__button:hover {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 10px 10px;
}

.Main__button--space {
  display: flex;
  justify-content: center;
}

.Main__emojis {
  grid-area: profile;
  justify-content: space-around;
}

.Main__emojis--button {
  justify-content: space-around;
  background-color: transparent;
  border: 0;
}
