@font-face {
  font-family: "HarryP";
  src: url("../Font/harry_p/HARRYP__.TTF") format("truetype");
}

@font-face {
  font-family: "LUMOS";
  src: url("../Font/lumos/LUMOS.TTF") format("truetype");
}

.Header__styling {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 5px black solid;
  border-radius: 10px;
  padding: 5px;
  margin: 10px auto;
  background-color: white;
}

h1 {
  font-family: HarryP, arial, serif;
  font-size: 70px;
  padding: 0;
  margin: 10px;
}

.Header__subline {
  font-family: HarryP, arial, serif;
  font-size: 35px;
  padding: 0;
  margin: 0px;
  text-align: right;
}

.Header__styling {
  display: flex;
  justify-content: center;
}
